.podcastContainer {
    margin-bottom: 100px;
}

.podcastContainerImg {
    position: relative;
    z-index: 3;
    padding-top: 85px;
}

.podcastImg {
    position: absolute;
    bottom: 10px;
    right: 30px;
}
